body {
    font-family: 'Georgia', serif;
    margin: 0;
    padding: 0;
    background-color: #FFAFFE;
    color: #fff;
}

header {
    background-color: #FFAFFE;
    color: white;
    text-align: center;
    padding: 2em 0;
}

header h1 {
    margin: 0;
}

header p {
    font-style: italic;
}

main {
    padding: 2em;
}

section {
    margin-bottom: 2em;
}

h2 {
    color: #000000; /* Purple color for emphasis */
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 0.5em;
}

a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

form {
    display: grid;
    grid-gap: 1em;
}

label {
    display: block;
}

input,
textarea {
    width: 100%;
    padding: 0.5em;
}

button {
    padding: 0.5em 1em;
    background-color: #cc00cc;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #990099;
}

footer {
    background-color: #FFAFFE;
    color: white;
    text-align: center;
    padding: 1em;
    position: fixed;
    bottom: 0;
    width: 100%;
}
